@font-face {
  font-family: 'Poppins';
  src: url('font/poppins-regular-webfont.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 18px/28px 'Poppins',Arial,sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #e8e8e8;
  color: #212121;
  transition: background-color 0.5s ease;
  &.body--darken {
    background-color: #9c9c9c;
  }
}

p,h1,h2 {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.game-button {
  margin: 0 auto;
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
}

.game-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game-over,
.game-time,
.game-points {
  font-size: 24px;
  font-weight: bold;
}

.game-points pre,
.game-time pre {
  margin: 0;
}

.game-button-box,
.icons-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-placeholder {
  height: 64px;
  width: 64px;
  border: 2px solid #212121;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
}

.game-enemy__text {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.game.game--head {
  margin-top: 24px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.game.game--body {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(15px);
  flex-direction: column;
  justify-content: space-between;
  min-height: 353px;
}

.game-description .game-description__heading {
  margin-bottom: 16px;
  margin-top: 24px;
}


.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  gap: 32px;
  margin-bottom: 16px;
  width: 100%;
}

.icon-button {
  margin: 0 auto;
  cursor: pointer;
	border-radius: 50%;
	position: relative;
	z-index: 1;
	color: #212121;
  display: flex;
  justify-content: center;
  border: 2px solid #207DE9;
  align-items: center;
  font-size: 32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(32,125,233,1);
  -webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.icon-button:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.icon-button:after {
	top: -2px;
	left: -2px;
	padding: 0;
	z-index: 10;
}
.icon-button:hover:after {
	border-color: #6ADFD7;
}

.icon-button:hover {
	color: #6ADFD7;
}

.game-over {
  margin: 0 auto;
}

.game-enemy .game-enemy__text:before {
  content: attr(dataGameAttrContent);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #212121; }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
   margin: 0 16px;
  }
}
